# Virtual Environment
creditcardvenv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Dataset-->over 150MB
data/raw/creditcard.csv
# VS Code
.vscode/

# Model files (optional)
# *.pkl

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db